# Versioning and metadata
.git
.github
.gitignore
.readme-static
.dockerignore

# Build dependencies
dist
node_modules
coverage
npm-debug.log

# Environment (contains sensitive data)
# .env

# Files not required for production
README.md
.eslintrc.js
.versionrc
CHANGELOG.md
codecov.yml
jest.config.ts
jest.setup.ts
license.md
test-report.xml
version.txt
